<div class="container-fluid mt-5">
	<div class="content-wrapper">
		<div class="container-fluid mt-3">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">My Dashboard</li>
			</ol>
		</div>

		<div
			class="row ml-2 mr-2 mt-5 alert alert-info alert-dismissible fade show"
			role="alert"
		>
			<div style="overflow: hidden !important;">
				<strong>Hello <%= user.name %> ! </strong> You have <%=
				dateDifference(user.date) %> days of trail period.
			</div>

			<button
				type="button"
				class="close"
				data-dismiss="alert"
				aria-label="Close"
			>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%- include('../partials/adminMessages') %>
	</div>
</div>
