<div class="container-fluid mt-5">
	<div class="content-wrapper">
		<div class="container-fluid mt-3">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">My Dashboard</li>
			</ol>
		</div>

		<%- include('../partials/adminMessages') %>
	</div>
</div>
