<div class="content-wrapper mt-2">
	<div class="row mt-5">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Manage Profile</li>
			</ol>
		</div>

		<div class="col-lg-12"><h3>Manage Profile</h3></div>
		<div class="col-lg-12">
			<form
				method="POST"
				action="/admin/user/profile/update/<%= user.id %>?_method=PUT"
				enctype="multipart/form-data"
			>
				<div class="form-group">
					<label for="exampleInputEmail1">Name</label>
					<input
						type="text"
						class="form-control"
						name="name"
						placeholder="Enter Name"
						value="<%= typeof user != undefined?user.name:'' %>"
					/>
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input
						type="email"
						class="form-control"
						name="email"
						placeholder="Enter Email"
						value="<%= typeof user != undefined?user.email:'' %>"
					/>
				</div>

				<div class="form-group">
					<label class="col-lg-12 mr-5" for="exampleInputPassword1"
						>Profile Picture</label
					><% if (user.image == '') { %>
					<img src="/images/user.jpg" alt="" width="200" />
					<% } else { %>
					<img
						src="/images/<%= user.image %>"
						class="rounded img img-responsive img-fluid"
						width="300"
					/>
					<% } %>
				</div>

				<br />
				<div class="form-group">
					<label for="exampleInputEmail1">Upload Pic</label>
					<input type="file" class="form-control" name="file" />
				</div>

				<!-- <div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<a href=""></a>
				</div> -->

				<button type="submit" class="btn btn-primary mt-2 mb-3">
					Update Profile
				</button>
			</form>
		</div>
	</div>
</div>
