<footer>
	<h1>Start practicing online today.</h1>
	<p>Ready to watch NOW | AHANA YOGA everywhere you go?</p>
	<br /><br /><br />
	<a class="trialBtn" href="/subscription">START YOUR FREE TRAIL</a>
	<br /><br />
	<p>Free for 7 days. Cancel anytime.</p>
	<p>Pay $19.99/month or $199/year</p>

	<div class="contact">
		<p>
			<b>CONTACT | PRIVACY POLICY </b>
			© COPYRIGHT 2020 SY7 MOVES BodyBar
		</p>
		<div>
			<a href="#"><i class="fab fa-instagram"></i></a
			><a href="#"><i class="fab fa-facebook"></i></a>
		</div>
	</div>
</footer>
