<footer>
	<h1>Start practicing online today.</h1>
	<p>Ready to watch SY7 | BODYBAR everywhere you go?</p>
	<% if (user == undefined) { %>
	<a class="trialBtn" href="/signup">START YOUR FREE TRAIL</a>
	<% }else { %>
	<a class="trialBtn" href="#">START YOUR FREE TRAIL</a>
	<% } %>

	<br />
	<p>Free for 7 days. Cancel anytime.</p>
	<p>Pay $19.99/month or $199/year</p>

	<div class="contact">
		<a href="/">home</a>
		<a href="https://sunyoga7.com/classes/">our studio</a>
		<a href="https://www.instagram.com/sun.yoga.7.body.bar/?hl=en">instagram</a>
		<% if (user == undefined) { %>
		<a href="/signup">sign up</a> <% } else { %> <a href="#">sign up</a> <% } %>
		<a href="/yogaTrainers">teachers</a>
		<% if (user == undefined) { %>
		<a href="/login">help</a>
		<% } else {%>
		<a href="/help">help</a>
		<% } %>
		<a href="/terms" target="_blank">terms</a>
		<a href="https://sunyoga7.com/privacy-policy/" target="_blank">privacy</a>
		<a href="/cookies" target="_blank">cookies</a>
		<% if (user == undefined) { %>
		<a href="/login">sign in</a>
		<% }else{ %>
		<a href="#">sign in</a>
		<% } %>
	</div>
</footer>
