<style>
	p.msg {
		text-align: center;
		margin-top: 1em;
		font-weight: bold;
	}

	p.success {
		color: green;
	}

	p.error {
		color: red;
	}
</style>
<!-- Error Message -->
<% if(error_msg != ''){ %>
<p class="error msg"><%= error_msg %></p>
<% } %>

<!-- Succes Message -->
<% if(success_msg != ''){ %>
<p class="success msg"><%= success_msg %></p>
<% } %>

<!-- Validation Errors -->
<% if(error != ''){ %>
<p class="error msg"><%= error %></p>
<% } %>
