<style>
	p.msg {
		text-align: center;
		margin-top: 1em;
		font-weight: bold;
	}

	p.success {
		background: rgb(101, 247, 125);
		border: 2px solid rgb(2, 133, 24);
		padding: 10px;
		border-radius: 5px;
		font-weight: bold;
		width: 100%;
		margin: 3em auto !important;
	}

	p.error {
		background: rgb(247, 123, 101);
		border: 2px solid rgb(133, 2, 2);
		padding: 10px;
		border-radius: 5px;
		font-weight: bold;
		width: 100%;
		margin: 3em auto !important;
	}
</style>
<!-- Error Message -->
<% if(error_msg != ''){ %>
<p class="error msg"><%= error_msg %></p>
<% } %>

<!-- Succes Message -->
<% if(success_msg != ''){ %>
<p class="success msg"><%= success_msg %></p>
<% } %>

<!-- Validation Errors -->
<% if(error != ''){ %>
<p class="error msg"><%= error %></p>
<% } %>
