<link rel="stylesheet" href="/css/checkout.css" />

<script src="https://js.stripe.com/v3/"></script>

<div class="container" style="margin-top: 5em;">
	<!-- <nav>
				<div class="logo">yoga app</div>
				<div class="login">log in</div>
			</nav> -->

	<main>
		<div class="info">
			<h1>yoga online class membership</h1>
			<div class="annual">
				<h4 class="anuual period" data-duration-value="199">
					Anuual <span data-duration-value="199">- $199 / year</span>
				</h4>
				<h4 class="monthly period" data-duration-value="19.99">
					Monthly
					<span data-duration-value="19.99">- $19.99 / month</span>
				</h4>
				<select name="" id="" class="sub">
					<option value="" hidden>Gift this subcription </option></select
				>
				<div class="subscriptions">
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
					<p>1-month subscription - $19.99</p>
				</div>

				<div>
					<br /><br />
					<hr />
				</div>
				<br />
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
					vitae doloremque aliquid minus illum qui! Lorem ipsum dolor sit amet.
				</p>

				<br />
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
					dolore, culpa commodi atque eaque nihil nisi quas totam consectetur
					odio!
					<a href="#" class="rm">Read More</a>
				</p>

				<button class="trailerBtn">
					Watch Trailer
				</button>
			</div>
		</div>

		<div class="payment">
			<h2 class="heading">Start your 7-day free trial</h2>
			<p class="account">
				Already have an account?<a
					href="/login"
					style="
						display: inline-block;
						background: none;
						color: blue;
						text-decoration: underline;
					"
					>Log in</a
				>
			</p>

			<div>
				<form
					action="/register"
					id="payment-form"
					method="POST"
					autocomplete="on"
				>
					<input type="text" placeholder="Name" name="name" required />
					<input type="email" name="email" id="" placeholder="Email" required />

					<input
						type="password"
						placeholder="Password"
						name="password"
						id="password"
						required
					/>
					<input
						type="password"
						placeholder="Confirm Password"
						name="confirmPassword"
						id="confirmPassword"
						style="display: none;"
						required
					/>

					<div class="terms">
						<input
							type="checkbox"
							class="css-checkbox regular-checkbox"
							id="tor"
						/>
						<label for="tor" class="css-label">
							I agree to recieve newsletter and product updates</label
						>
					</div>

					<br />
					<br />
					<hr />
					<br />

					<h3 class="pd">Payment details</h3>

					<input type="hidden" name="duration" id="duration" />

					<input
						type="text"
						placeholder="Name on Card"
						name="username"
						required
					/>
					<div class="form-row">
						<!-- <label for="card-element">
										Credit or debit card
									</label> -->
						<div id="card-element">
							<!-- A Stripe Element will be inserted here. -->
						</div>

						<!-- Used to display form errors. -->
						<div id="card-errors" role="alert"></div>
					</div>
					<br /><br /><br />
					<hr />
					<br />
					<div class="total">Total: <span class="totalValue">$199</span></div>
					<br />
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos
						repudiandae provident temporibus! Eius omnis aliquid quasi animi
						impedit delectus, explicabo officia vel? Accusantium tempore, sed
						perferendis illo amet enim sequi?
					</p>
					<br />
					<button type="submit" class="trailBtn">
						Start free trial
					</button>
					<br />
					<br />
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
						suscipit tempora sint dolores eaque, cupiditate nam ipsam excepturi
						amet alias voluptates non laborum quam aspernatur autem earum iste
						laboriosam totam inventore sed. Qui eveniet, excepturi nemo at
						numquam porro commodi.
					</p>
				</form>
			</div>
		</div>
	</main>
</div>

<script>
	document.querySelector('.sub').addEventListener('click', () => {
		document.querySelector('.subscriptions').classList.toggle('toggleDisplay');
	});

	const elems = document.querySelectorAll('.period');
	elems.forEach((el) => {
		el.addEventListener('click', (event) => {
			const val = event.target.getAttribute('data-duration-value');
			const inputDuration = document.getElementById('duration');
			inputDuration.value = +val;

			elems.forEach((e) => {
				e.style.background = 'white';
				e.style.color = 'black';
			});

			el.style.background = 'black';
			el.style.color = 'white';
			document.querySelector('.totalValue').innerHTML = '$' + val;
		});
	});

	document.getElementById('password').addEventListener('input', (e) => {
		if (e.target.value.length > 0) {
			document.getElementById('confirmPassword').style.display = 'block';
		} else {
			document.getElementById('confirmPassword').style.display = 'none';
		}
	});

	var stripe = Stripe('pk_test_FPdDtebYH9OXk0J8oJu5KupC00TjxWfuzs');
	var elements = stripe.elements();
	var style = {
		base: {
			color: '#32325d',
			fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
			fontSmoothing: 'antialiased',
			fontSize: '16px',
			'::placeholder': {
				color: '#aab7c4',
			},
		},
		invalid: {
			color: '#fa755a',
			iconColor: '#fa755a',
		},
	};

	var card = elements.create('card', { style: style });
	card.mount('#card-element');

	card.addEventListener('change', function (event) {
		var displayError = document.getElementById('card-errors');

		event.error
			? (displayError.textContent = event.error.message)
			: (displayError.textContent = '');
	});

	var form = document.getElementById('payment-form');
	form.addEventListener('submit', function (event) {
		event.preventDefault();

		if (!event.target.duration.value) {
			return window.alert('Please select one plan');
		}

		stripe.createToken(card).then(function (result) {
			if (result.error) {
				var errorElement = document.getElementById('card-errors');
				errorElement.textContent = result.error.message;
			} else {
				stripeTokenHandler(result.token);
			}
		});
	});

	function stripeTokenHandler(token) {
		var form = document.getElementById('payment-form');
		var hiddenInput = document.createElement('input');
		hiddenInput.setAttribute('type', 'hidden');
		hiddenInput.setAttribute('name', 'stripeToken');
		hiddenInput.setAttribute('value', token.id);
		form.appendChild(hiddenInput);

		form.submit();
	}
</script>
