<style>
	nav {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}

	.cookies-container {
		max-width: 80%;
		margin: 5em auto;
	}

	.cookies-container h1 {
		text-align: center;
		margin-bottom: 1em;
	}

	.cookies-container h3 {
		margin: 2em 0 5px 0;
	}

	.cookies-container p a {
		text-decoration: underline;
		color: blue;
	}
</style>

<div class="cookies-container">
	<h1>COOKIE BASICS</h1>
	<hr />
	<br /><br />
	<p>
		A cookie is a small text file that is stored in your web browser that allows
		a third party to recognize you using a unique identifier. What they do:
	</p>

	<h3>Essential</h3>
	<p>cookies enable services we offer.</p>
	<h3>Non-essential</h3>
	<p>
		cookies help us understand how our services are being used (i.e., analytics)
		and deliver advertisements. Some cookies may track you across multiple
		websites you visit (including ones not operated by us) to help deliver
		advertisements that may be relevant to you.
	</p>

	<h3>How long they last:</h3>
	<p>
		Cookies may be either “session” or “persistent.” A session cookie expires
		(i.e., is deleted) when you close your browser. A persistent cookie remains
		until it expires or you delete the cookies via your browser settings.
		Expiration dates are set in the cookies themselves and may vary in length,
		depending on the purpose of the cookie.
	</p>

	<h3>Changing your cookie preferences</h3>
	<p>
		You may limit the cookies set in your browser by taking the steps described
		below. Note that declining cookies may impact your ability to use our
		services.
	</p>

	<h3>Browser settings:</h3>
	<p>
		You may change your browser’s settings to delete cookies that have already
		been set and to reject new cookies. To learn more, visit the help pages of
		your browser: Firefox Chrome Safari Microsoft Edge Internet Explorer You may
		also visit our sites in your browser’s “private” or “incognito” mode, in
		which case cookies will be set, but deleted when you close your browser.
	</p>

	<h3>Opt-out (EU users):</h3>
	<p>
		Users from the EU may opt out of non-essential cookies by selecting the
		option below. Upon opting out, we will, to the extent possible, delete any
		non-essential first party cookies in your browser and remember your cookie
		preference for your next visit. Please review your browser settings to
		remove third-party cookies.
	</p>

	<h3>Third-party advertising opt-outs:</h3>
	<p>
		Certain third parties provide ways to opt out of advertising cookies across
		multiple sites. You can learn more by visiting the sites of the Network
		Advertising Initiative
		<a href="https://optout.networkadvertising.org"
			>https://optout.networkadvertising.org</a
		>
		or the Digital Advertising Alliance
		<a href="https://www.aboutads.info">https://www.aboutads.info</a>. In
		addition, there are third-party plug-ins and apps that help manage cookies.
	</p>

	<h3>Google cookies:</h3>
	<p>
		Google provides ways to manage or opt out certain of its advertising cookies
		<a href="https://adssettings.google.com">https://adssettings.google.com</a>
		and analytics cookies
		<a href="https://tools.google.com/dlpage/gaoptout"
			>https://tools.google.com/dlpage/gaoptout</a
		>. You may read Google’s Privacy Policy at
		<a href="https://policies.google.com/">https://policies.google.com/</a>.
		SIMILAR TECHNOLOGIES We use technologies that resemble cookies to help track
		user activities and preferences. For example, we may use web beacons (tiny
		graphics with a unique identifier embedded on web pages or emails) to track
		your activities and communicate with cookies. You cannot opt out of web
		beacons used on webpages, but you can limit their use by opting out of the
		cookies they interact with. You can opt out of web beacons used in emails by
		setting your email client to render emails in text mode only.
	</p>
</div>
