<link rel="stylesheet" href="/css/checkout.css" />

<script
	src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"
></script>
<script src="https://js.stripe.com/v3/"></script>

<div class="errors"></div>

<div class="container" style="margin-top: 5em;">
	<main>
		<div class="info">
			<h1>yoga online class membership</h1>
			<div class="annual">
				<h4 class="anuual period" data-duration-value="199">
					Anuual <span data-duration-value="199">- $199 / year</span>
				</h4>
				<h4 class="monthly period" data-duration-value="19.99">
					Monthly
					<span data-duration-value="19.99">- $19.99 / month</span>
				</h4>
				<select name="" id="" class="sub">
					<option value="" hidden>Gift this subcription </option></select
				>
				<div class="subscriptions">
					<p data-amount="19.99">1-month subscription - $19.99</p>
					<p data-amount="199">1-year subscription - $199</p>
				</div>

				<div class="gift-info">
					<p>Gift this subcription</p>
					<p id="sub-info">1-month subscription for $19.99</p>
				</div>

				<div>
					<br /><br />
					<hr />
				</div>
				<br />
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
					vitae doloremque aliquid minus illum qui! Lorem ipsum dolor sit amet.
				</p>

				<br />
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
					dolore, culpa commodi atque eaque nihil nisi quas totam consectetur
					odio!
					<a href="#" class="rm">Read More</a>
				</p>

				<a href="/yogaVideo" class="trailerBtn">
					Watch Trailer
				</a>
			</div>
		</div>

		<div id="gift">
			<h2>Gift Details</h2>
			<div>
				<form
					id="gift-form"
					autocomplete="on"
					method="POST"
					action="/giftSubscription"
				>
					<input type="email" placeholder="Your email" name="email" required />
					<input
						type="email"
						name="recipient_email"
						placeholder="Recipient email"
						required
					/>
					<input
						type="text"
						name="message"
						placeholder="Gift message"
						required
					/>
					<input
						type="text"
						name="date"
						placeholder="Delivery Date"
						required
						onfocus="this.type = 'date'"
					/>

					<input type="hidden" name="duration" id="inputDuration" />

					<br />
					<br />
					<hr />
					<br />

					<h3 class="pd">Payment details</h3>

					<input
						type="text"
						placeholder="Name on Card"
						name="username"
						required
					/>
					<div class="form-row">
						<input type="hidden" name="card" class="card" />

						<!-- <label for="card-element">
										Credit or debit card
									</label> -->
						<div id="card-element">
							<!-- A Stripe Element will be inserted here. -->
						</div>

						<!-- Used to display form errors. -->
						<div id="card-errors" role="alert"></div>
					</div>
					<br /><br /><br />
					<hr />
					<br />
					<div class="total">Total: <span class="totalValue">$199</span></div>
					<br />
					<p>
						Recipient will receive a notification email and they can activate
						their gift any time! Your card will be charged $19.99 USD (plus any
						tax).
					</p>
					<br />
					<button type="submit" class="trailBtn" id="purchaseBtn">
						Complete Purchase
					</button>
					<br />
					<br />
					<p>
						By gifting, you authorize us to charge your credit or debit card,
						agree to our Terms of Service, Cookies Policy, & Privacy Policy, and
						represent that you are at least 16 years of age. Charges on your
						card will appear as OTT* AHANAYOGA.
					</p>
				</form>
			</div>
		</div>
	</main>

	<div class="load">
		<span> Submitting.....please wait</span>
		<br />
		<div class="loader"></div>
	</div>
</div>

<script src="/js/subscriptions.js"></script>
