<style>
	section {
		display: grid;
		place-content: center;
		height: 93vh;
		background: grey;
		color: white;
	}

	h1 {
		font-size: 4em;
		margin-bottom: 0;
	}

	p {
		letter-spacing: 5px;
		font-size: 1.2em;
		margin-top: 0;
	}

	a.explore {
		text-align: center;
		font-size: 1.5em;
		padding: 10px;
		font-weight: bold;
		background: black;
		margin: 1.3em auto;
		width: 30%;
	}
</style>

<section>
	<h1>Welcome to Yoga App!</h1>
	<p>Lorem ipsum dolor sit amet.</p>
	<a href="" class="explore">Explore</a>
</section>
