<main>
	<div class="slider">
		<div>
			<h1 class="tagline"><span>LOGO | </span> SY7 MOVES</h1>
			<b
				>Start practicing online today. Ready to watch SY7 Moves everywhere you
				go?</b
			>
			<br />
			<br />Unlimited HIIT classes anytime, any place –with SY7 teachers.<br />
			Unlimited yoga classes anytime, any place <br /><b
				>–with SY7 teachers who make you feel at home.</b
			>
			<br /><br />
			<p><b>Sign up now & start your practice online today.</b></p>
			<!-- <a href="/yogaVideo" class="classLink"
				>Click here for a free 20 minute class.</a
			> -->
		</div>
		<div class="btns">
			<br /><br /><br />
			<a class="trail" href="/subscription">start free trial</a>
			<a class="trailer" href="/yogaVideo"
				><i class="fas fa-arrow-right"></i> trailer</a
			>
		</div>

		<!-- <div class="price">
			<br />
			$19.99 a month or $199 a year after 7-day free trial
			<a href="#" class="classLink">Gift this</a>
		</div> -->
	</div>

	<div class="services">
		<div class="service">
			<h3>access all online classes</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
				expedita beatae, modi in excepturi inventore?
			</p>
		</div>

		<div class="service">
			<h3>choose by style, level, duration</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
				expedita beatae, modi in excepturi inventore?
			</p>
		</div>

		<div class="service">
			<h3>practice anytime, anywhere</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
				expedita beatae, modi in excepturi inventore?
			</p>
		</div>
	</div>
</main>

<div class="heading">
	<h1>Featuring YOGA Teachers & Classes</h1>
	<p>
		Flow, sing, chant, & meditate with the best teachers in Miami, wherever your
		practice takes you.
	</p>
</div>

<div class="trainers">
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>

	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>

	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>

	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
	<div>
		<a href="#"
			><img
				src="/images/3840x2160-2626663-sunset-4k-mac-background-wallpaper.jpg"
				alt=""
		/></a>
	</div>
</div>

<br />
<hr />
<br /><br />
<div class="portability">
	<h1>Play on any device & Airplay on TV.</h1>
	<p>
		No television provider needed. Play on your phone, tablet, laptop or AirPlay
		anytime, anywhere. Sign up now & be on your mat with Ahana in under a
		minute.
	</p>
	<div class="portable-img"></div>
</div>
