<style>
	nav {
		box-shadow: 0 2px 10px #cccccc;
	}

	form.loginForm {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
		max-width: 400px;
		padding: 1em 2em;
		margin: 4.5em auto;
	}

	button.login {
		background-color: #3f413f;
		color: white;
		padding: 14px 20px;
		margin: 10px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		font-size: 1em;
		transition: 0.3s;
	}

	button:hover {
		background: black;
	}

	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
	}

	img.avatar {
		width: 40%;
		border-radius: 50%;
	}

	span.psw {
		padding-top: 16px;
		margin: 0 auto;
	}

	input {
		width: 100%;
		padding: 15px;
		font-size: 1em;
		margin: 5px 0 22px 0;
		display: inline-block;
		border: none;
		background: #f1f1f1;
	}

	input:focus {
		background-color: #ddd;
		outline: none;
	}

	@media screen and (max-width: 300px) {
		span.psw {
			display: block;
			float: none;
		}
	}
</style>

<script src="https://js.stripe.com/v3/"></script>

<form action="/login" method="post" class="loginForm" autocomplete="on">
	<div class="imgcontainer">
		<h3>Log In</h3>
	</div>

	<div class="container">
		<label for="email"><b>Email</b></label>
		<input type="text" placeholder="Enter Email" name="email" required />

		<label for="psw"><b>Password</b></label>
		<input
			type="password"
			placeholder="Enter Password"
			name="password"
			required
		/>

		<button type="submit" class="login">Login</button>
		<!-- <label>
			<input type="checkbox" checked="checked" name="remember" /> Remember me
		</label> -->
		<input
			type="hidden"
			id="ch_name"
			value="<%= typeof name != 'undefined' ? name : ''  %>"
		/>
		<input
			type="hidden"
			id="client_secret"
			value="<%= typeof client_secret != 'undefined' ? client_secret : ''  %>"
		/>
		<input
			type="hidden"
			name="card"
			id="card"
			value="<%= typeof card != 'undefined' ? card : ''  %>"
		/>
	</div>
</form>

<script>
	/* document.onload = (() => {
		const name = document.getElementById('ch_name').value;
		const cs = document.getElementById('client_secret').value;
		const card = document.getElementById('card');

		redirectUser(name, cs, card);
	})();

	function redirectUser(n, s, c) {
		var stripe = Stripe('pk_test_cEXNadDQNqp5JS18q7iIlAUG00AxGmzxXG');

		stripe
			.confirmCardSetup(s, {
				payment_method: {
					card: c,
					billing_details: {
						name: n,
					},
				},
			})
			.then(function (result) {
				if (result.error) {
					return console.log(result.error);
				} else {
					window.location.assign('/login');
				}
			});
	} */
</script>
