<style>
	nav {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}

	.terms-container {
		max-width: 80%;
		margin: 5em auto;
	}

	.terms-container > h1 {
		text-align: center;
		margin-bottom: 1em;
	}

	.terms h3 {
		margin: 2em 0 5px 0;
	}

	.terms p {
		text-align: justify;
	}
</style>

<div class="terms-container">
	<h1>TERMS & CONDITIONS</h1>
	<hr />

	<div class="terms">
		<h3>Classes</h3>
		<p>
			You can sign up for 1 class at a time – three weeks ahead. All classes
			will be shown online and any changes will appear on the weekly schedule.
			If you book a class but don’t show up, you will be charged for that
			class.(except unlimited pass) The cancellation deadline is 24 hours before
			class starts! If you have booked online, you need to be at the studio and
			check-in at least 10 minutes before the class starts. If you come as a
			drop-in yogi, you need to be here at least 10 min before to ensure your
			space and have time to check-in.
		</p>

		<h3>Class Booking and Cancellations</h3>
		<p>
			We highly recommend that you pre-book your classes online to reserve your
			spot. Cancellations can be made up to 24 hours prior to the start of your
			class to avoid a late cancel/absent fee. We reserve the right to take
			photos in Sun Yoga 7 Studio and to share these photos on social media.
		</p>

		<h3>Conditions for Monthly Unlimited Pass</h3>
		<p>
			The 1 Month Unlimited Pass gives you unlimited access to yoga practice on
			a monthly basis. The membership can start on any day of the month and do
			not have a minimum duration. This means that you could in theory cancel
			the membership with 14 day notes before cancelation. The Monthly Unlimited
			Pass is active from the day you buy it, not from the day you have your
			first booking! On the day of signing up you pay for: 1 month of practice .
			From then on you pay each month the price of 1 months practice on the day
			of the month that matches the day you signed up. The money is
			automatically collected using your credit card. The automatic payments
			will continue until you cancel your membership. For instance, if you sign
			up on January 15th, you will pay for 1 month of practice and 1 months pre
			payment right away. On February 1th we will collect an automatic payment
			using you credit card. On March 1th we will collect another payment and so
			on. The prepayment covers the event where we can not complete the
			automatic payment, if for instance your credit card has been closed. If
			that happens we will send you an email with instructions on how to go to
			our website and specify a new credit card. If you do not specify a new
			credit card your prepayment will cover the following month of practice
			after which your membership will expire. We reserve the right to terminate
			any auto renew membership.
		</p>

		<h3>Suspending your Auto-Renew Membership</h3>
		<p>
			At any time after the initial commitment period (4 months) the membership
			may be put on hold (suspended). Minimum suspension period is one billing
			cycle – one month. The suspension fee is $45 and needs to be done in
			person so that we know exactly which billing cycle(s) you would like to
			skip.
		</p>

		<h3>Introductory offer</h3>
		<p>
			To qualify for the intro offer one must meet two conditions: 1. be a local
			resident with valid driving license; 2. be new to the studio. The intro
			offer will activate from the day you buy it. Intro passes cannot be
			suspended (freezed).
		</p>

		<h3>Conditions for Class Pack</h3>
		<p>
			Class Passes with 10 classes expire after 3 months. Purchases are binding,
			can not be put on a friends profile and will not be refunded. If you get
			sick, and have documentation, we can put your Class Pass on hold.(only for
			contract with autopay). Please send an email with the documentation
			attached. Signing up for a class is binding, and you will loose a spot if
			you don’t show up. Cancellation deadline is 4 hours before class starts.
			You do it via your profile. All cards are personal, and will not be
			refunded. The Class Pack is active from your first day of purchase.
		</p>

		<h3>Third Party Bookings</h3>
		<p>
			We encourage to book our classes directly with us. Please do not hold us
			responsible for difficulties with the third party booking system or
			customer service. Any changes to your bookings via third party needs to be
			arranged with a third party.
		</p>

		<h3>Use of studio</h3>
		<p>
			Minimum credit card charge is currently at $5. In case your purchase is of
			a lesser amount, account credit will be applied to be used by you for
			later needs. All students need to have a credit card on file or deposit
			$20 cash as account credit. We do not allow negative balances. In an
			instance that you have not settled your account otherwise, we will charge
			the credit card on file. We reserve the right to refuse entry to anyone
			into the studio or to classes even if the class has already been paid for.
		</p>

		<h3>Use of facilities</h3>
		<p>
			Please be sure that you are wearing suitable attire for your classes and
			that no shoes or personal belongings (other then mat, towel, water,
			talisman) are taken into the hot room itself. Please follow the etiquette
			posted on this website. No kids are permitted unless pre-arranged with us.
			$15/h supervision fee will be charged to the card on file in case we are
			able to confirm. Any belongings left behind will be keep in lost and found
			for a maximum of 1 week and donated thereafter. You agree that you leave
			your valuables at your own risk. We reserve the right to change, cancel or
			delete classes from our schedule at our discretion without notice. We
			reserve the right to close the studio for periods of refurbishment or
			holidays. If we decide to close the studio for more than 4 consecutive
			days you may request a prorated credit on your membership.
		</p>

		<h3>Medical or physical conditions</h3>
		<p>
			It is your responsibility to ensure that you have permission from your
			doctor to participate in our classes. You accept that we are not medical
			practitioners and cannot give you any advice on your medical condition and
			your ability to participate in our classes.
		</p>

		<h3>Child Care</h3>
		<p>
			Kids five and up are welcome to wait for you in the studio while you are
			in class. However we must supervise any kid under 12 years old and thus
			please text us to see if we can accommodate.
		</p>

		<h3>Release</h3>
		<p>
			You acknowledge that you have agreed to the liability waiver that was
			provided to you upon your initial sign up to our studio. You agree that
			practicing with us involves a risk of minor and major injury, soft tissue
			injury, broken bones and joint injuries, death, and that you practice at
			your own risk. You agree that you will be liable for costs of repairs and
			replacement of equipment damaged by yourself to any of our equipment or
			property. You agree that we will not be liable for any personal items that
			are damaged, lost or stolen. You agree to be on any photographs that we
			take at the studio with the intention to promote our studio on social
			networks.
		</p>
	</div>
</div>
