<style>
	.videos-container {
		padding: 0 2em;
	}

	.latest-video {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 2em 0;
	}

	.latest-video > div {
		margin: 0 20px;
	}

	.latest-video > div:nth-child(1) {
		padding: 3em;
		flex: 8;
	}

	.latest-video > div:nth-child(2) {
		flex: 4;
	}

	.video-info h1 {
		margin-bottom: 0;
		font-weight: 600;
	}

	.w-btn {
		text-decoration: none;
		color: white;
		background: #232323;
		font-weight: 500;
		padding: 0.8em 2em;
		border-radius: 5px;
		display: inline-block;
		margin-top: 2em;
		transition: 0.3s ease-in-out;
	}

	.w-btn:hover {
		background: #333333;
	}

	.w-btn:active {
		transform: scale(0.9);
	}

	.video-thumbnail img {
		filter: opacity(0.9);
		width: 100%;
		height: 100%;
	}

	.duration {
		margin-top: 0;
	}

	.videos {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 10px;
		margin-top: 3em;
	}

	.videos .video {
		margin-bottom: 2em;
	}

	.videos .video p {
		color: grey;
		margin: 0 5px;
	}

	.videos .video a video {
		width: 100%;
	}

	.videos .video a:nth-child(2) {
		text-decoration: none;
		color: black;
		font-weight: 500;
		transition: 0.3s;
		padding: 5px 10px;
		border-radius: 20px;
		margin-top: 5px;
		display: inline-block;
	}

	.videos .video a:nth-child(2):hover {
		background: rgba(0, 0, 0, 0.15);
	}

	.videos .video a:nth-child(2):active {
		transform: scale(0.9);
	}

	.container > h1 {
		margin-top: 3em;
	}
</style>

<div class="latest-video">
	<div class="video-info">
		<h1>Latest Videos</h1>
		<p class="duration">10 mins</p>
		<br />
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, unde
			deleniti aut soluta architecto enim quia, asperiores ratione ex saepe eius
			corporis alias necessitatibus nobis vel. Odit nihil ipsum eos!
		</p>
		<a href="/yogaVideo" class="w-btn">Watch Trailer</a>
	</div>
	<div class="video-thumbnail">
		<img
			src="/images/yoga-exercises-gate1-jill-WachterReverse-Diabetes-760x506.jpg"
			alt=""
		/>
	</div>
</div>

<div class="videos-container">
	<br /><br /><br /><br /><br />
	<hr />
	<div class="videos">
		<% videos.forEach(v => { %>
		<div class="video">
			<a href="#">
				<% if (user == undefined) { %>
				<video>
					<source src="/video.mkv" type="video/mp4" />
					<source src="/video.mkv" type="video/ogg" />
					<source src="/video.mkv" type="video/webm" />
				</video>
				<% } else { %>
				<video controls controlsList="nodownload">
					<source
						src="/uploads/trainerVideos/<%= v.video.name %>"
						type="video/mp4"
					/>
					<source
						src="/uploads/trainerVideos/<%= v.video.name %>"
						type="video/ogg"
					/>
					<source
						src="/uploads/trainerVideos/<%= v.video.name %>"
						type="video/webm"
					/>
				</video>
				<% } %>
			</a>
			<p><%= v.title %></p>
		</div>
		<% }) %>
	</div>
</div>
